.thumbnail {
  width: 215px;
  height: 150px;
  border-radius: 2px;
  cursor: pointer;
}

.popup-content {
  background-color: #ffffff;
  width: 60%;
  height: 80%;
  border-radius: 10px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.close-btn {
  align-self: flex-end;
  background-color: transparent;
  width: 28px;
  height: 28px;
  border: none;
  margin-top: 18px;
  margin-right: 18px;
  outline: none;
  cursor: pointer;
}

.player-container {
  margin: 12px 48px 48px 48px;
}
