/* Write your CSS here */
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto';
  box-sizing: border-box;
}

.prime-video-container {
  width: 100%;
  background-color: #000000;
  height: 100%;
}

.prime-video-img {
  width: 100%;
}

.videos-container {
  height: 100%;
  padding: 40px;
}

.category-heading {
  color: #ffffff;
  font-weight: 500;
  font-size: 27px;
}
